<%= form_with(model: route, local: true) do |form| %>
  <%= render 'common/errors', data: route %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <% cities_array = RailwayStation.all.map { |city| [city.title, city.id] } %>
  <%= options_for_select(cities_array) %>
<% end %>
